<div class="login-container">
    <h2>Login to start the game</h2>
    <form [formGroup]="formGroup">
        <div class="form-item">
            <label for="email">Email</label>
            <input formControlName="email" id="email" type="email">
        </div>

        <div class="form-item">
            <label for="password">Password</label>
            <input formControlName="password" type="password">
        </div>

        <div class="form-button">
            <button [disabled]="!formGroup.valid" (click)="loginUser()">login</button>
        </div>
        <p>Dont have an account?
            <a routerLink="../signUp">singUp</a>
        </p>
        <p class="home-page">
            <a routerLink="../results">home page</a>
        </p>
        <p class="validation" *ngIf="showValidation">{{validationText}}</p>
    </form>
</div>