.add-new-question {
    .space {
        margin: 8px;
        button {
            float: right;
        }
    }
    .none-answer {
        color: red;
    }
    .success {
        color: green;
    }
    p {
        text-align: center;
    }
    .text-container {
        display: flex;
        flex-direction: column;
    }
}