.results {
    text-align: center;
    ol {
        display: flex;
        align-items: center;
        flex-direction: column;
        li {
            width: fit-content;
            margin-bottom: 8px;
        }
    }
    p {
        cursor: pointer;
        color: blue;
        text-align: center;
    }
    .result-content {
        height: 150px;
        overflow: auto;
    }
}

.question {
    margin-top: 46px;
    text-align: center;
}