.results {
    text-align: center;
    ol {
        display: flex;
        align-items: center;
        flex-direction: column;
        li {
            width: fit-content;
        }
    }
    p {
        cursor: pointer;
        color: blue;
    }
}